body {
    background-color: #000000;
        color: whitesmoke;
        text-align: center;
    }

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(230, 140, 55);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd}
  

  .show {display:block;}

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: hsla(0, 73%, 13%, 0.37);;
  }
  
  .flex-container > div {
    background-color: hsl(0, 26%, 15%);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }